/* Search and Hero Section styles */
.bannerBackground,
.bannerGradient {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.bannerGradient {
  top: 0;
  background: linear-gradient(78.78deg, #114f8b 5.2%, #2a9ad7);
  height: 639.9px;
}
.bannerBackground {
  top: 0.4px;
  max-width: 100%;
  overflow: hidden;
  height: 640px;
  object-fit: cover;
}
.findTheBest,
.letsExplore {
  align-self: stretch;
  position: relative;
  line-height: 67px;
}
.findTheBest {
  font-size: 24px;
  line-height: 32px;
  font-family: Roboto;
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.searchFlights {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.radio,
.radio1 {
  position: absolute;
  top: 0;
  left: 0;
}
.radio1 {
  left: 106px;
}
.flightType {
  position: relative;
  width: 216.5px;
  height: 38px;
}
.flightOptions,
.formTitleGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.formTitleGroup {
  overflow: hidden;
  padding: 5px;
  gap: 5px;
}
.formTitleGroup,
.selectoutlined {
  align-self: stretch;
}
.inputGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.inputsRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  position: relative;
  font-size: 15px;
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Roboto;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 147px;
}
.buttonGroup,
.searchFlightsButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.searchFlightsButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #f99a0e;
  border-radius: 4px;
  width: 164px;
  height: 56px;
  overflow: hidden;
  transition: 0.3s;
}
.searchFlightsButton:hover {
  background-color: #dc880b;
}
.buttonGroup {
  padding: 5px;
}
.formInputsRow {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.searchContainer,
.searchForm {
  display: flex;
  flex-direction: column;
}
.searchForm {
  align-self: stretch;
  border-radius: 10px;
  background-color: #fff;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  gap: 4px;
  text-align: left;
  font-size: 20px;
  color: #303030;
  font-family: Roboto;
}
.searchContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 640px;
  align-items: center;
  justify-content: center;
  padding: 0 140px;
  box-sizing: border-box;
  gap: 43px;
}
.searchSection {
  align-self: stretch;
  position: relative;
  height: 640px;
}
.heroSection {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 61px;
  font-family: "Baloo Bhai";
}