/* Shared Navigation Styles - Common styles extracted from Homepage, ResultsPage, and HotelsPage */

/* Logo and Icon Styles */
.symbolsIcon {
  position: absolute;
  height: 96.97%;
  width: 99.83%;
  top: 1.59%;
  right: 0.17%;
  bottom: 1.44%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.fickleflightLogo {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  width: 174px;
  height: 33px;
  overflow: hidden;
}

/* Navigation Menu Items */
.navigationMenuItem {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 14px;
  font-family: Roboto;
  color: #1262af;
  text-align: left;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.navigationMenuItemSecondary {
  color: #424242;
}

/* Navigation Layout */
.navigationMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.hamburgerMenuIcon {
  display: none;
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.notificationBellIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.profileIcon {
  border-radius: 38px;
  width: 36px;
  height: 36px;
  object-fit: cover;
}

.accountSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.navigationRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 36px;
}

.topContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.topHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  background-color: #fff;
  height: 77px;
  justify-content: center;
  padding: 22px 80px;
  box-sizing: border-box;
  position: sticky;
  width: 100%;
  top: 0;
  text-align: left;
  font-size: 14px;
  color: #424242;
  font-family: Roboto;
}

/* Responsive Design */
@media screen and (max-width: 1200px) {
  .topHeader {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1100px) {
  .navigationMenu {
    display: none;
  }
  
  .hamburgerMenuIcon {
    display: block;
  }
  
  .topHeader {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
}