/* Footer Section */
.airlineFees,
.covidAdvisory,
.more1,
.tips {
  position: absolute;
  left: 0;
  display: inline-block;
}
.more1 {
  top: 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  width: 76.7px;
}
.airlineFees,
.tips {
  top: 78.76px;
  width: 135.4px;
}
.tips {
  top: 109.76px;
  width: 50.6px;
}
.more {
  position: relative;
  width: 197.3px;
  height: 159.8px;
}
.footerLinks {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0;
  font-size: 16px;
}
.footer,
.footerSection,
.resultsPage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  background: linear-gradient(91.74deg, #0b5ba8 25.38%, #299bd8);
  flex-direction: row;
  padding: 33px 84px;
  gap: 44px;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-family: Roboto;
}
.footerSection,
.resultsPage {
  flex-direction: column;
}
.footerSection {
  align-self: stretch;
  text-align: center;
  font-size: 18px;
  color: #1262ae;
}
.resultsPage {
  background-color: #fff;
  max-width: 100%;
  width: 1440px;
  overflow: hidden;
  text-align: left;
  font-size: 61px;
  color: #fff;
  font-family: Roboto;
}
