/* Header and Navigation styles */
.symbolsIcon {
  position: absolute;
  height: 96.97%;
  width: 99.83%;
  top: 1.59%;
  right: 0.17%;
  bottom: 1.44%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fickleflightLogo {
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 174px;
  height: 33px;
  overflow: hidden;
}
.explore,
.fickleflightLogo,
.offers,
.search {
  position: relative;
  cursor: pointer;
}
.offers,
.search {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 14px;
  font-family: Roboto;
  color: #1262af;
  text-align: left;
  display: inline-block;
}
.offers {
  color: #424242;
}
.navigationMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
.hamburgerMenuIcon {
  display: none;
}
.hamburgerMenuIcon,
.notificationBellIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.unsplashd1upkifd04aIcon {
  border-radius: 38px;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.accountSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.navigationRight {
  justify-content: flex-end;
  gap: 36px;
}
.navigationRight,
.topContainer,
.topHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topContainer {
  justify-content: space-between;
  gap: 0;
}
.topHeader {
  align-self: stretch;
  background-color: #fff;
  height: 77px;
  justify-content: center;
  padding: 22px 80px;
  box-sizing: border-box;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  text-align: left;
  font-size: 14px;
  color: #424242;
  font-family: Roboto;
}
