/* Search Results and Filters Section */
.results {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.26px;
  display: inline-block;
  width: 219.4px;
}
.resultsSummaryChild {
  position: absolute;
  top: 46.5px;
  left: 0;
  max-height: 100%;
  width: 311.5px;
}
.results1,
.resultsSummary {
  position: absolute;
  top: 0;
  left: 0;
}
.resultsSummary {
  width: 311.5px;
  height: 47px;
  font-size: 20px;
}
.results1 {
  letter-spacing: 0.26px;
  display: inline-block;
  width: 189px;
}
.component1formcheckbox {
  position: absolute;
  top: 50px;
  left: 0;
}
.bookingOptions,
.component1formcheckbox1 {
  position: absolute;
  top: 86px;
  left: 0;
}
.bookingOptions {
  top: 231.4px;
  width: 221px;
  height: 106px;
}
.results2 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.26px;
  display: inline-block;
  width: 198px;
}
.flightExperience {
  top: 376.6px;
  width: 310.8px;
  height: 106px;
}
.airlines,
.flightExperience,
.results3 {
  position: absolute;
  left: 0;
}
.results3 {
  top: 0;
  letter-spacing: 0.26px;
  display: inline-block;
  width: 87.8px;
}
.airlines {
  top: 561px;
  width: 181px;
  height: 106px;
}
.results4 {
  top: 0;
  letter-spacing: 0.26px;
  display: inline-block;
  width: 65.3px;
}
.results4,
.seperatorIcon,
.stops {
  position: absolute;
  left: 0;
}
.stops {
  top: 86.2px;
  width: 296.6px;
  height: 106px;
}
.seperatorIcon {
  top: 521.3px;
  max-height: 100%;
  width: 350.5px;
}
.searchFilters,
.turkishIcon {
  position: relative;
  width: 350.5px;
  height: 667px;
}
.turkishIcon {
  width: 34.8px;
  height: 46px;
}
.singaporeAirlines {
  position: relative;
  letter-spacing: 0.26px;
}
.airlineSection {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.am,
.sin {
  position: absolute;
  left: 0;
  display: inline-block;
}
.am {
  width: 100%;
  top: 0;
  letter-spacing: 0.32px;
  font-weight: 500;
}
.sin {
  width: 79.46%;
  top: 63.46%;
  font-size: 16px;
  letter-spacing: 0.26px;
  color: #646468;
}
.departureDetails {
  position: relative;
  width: 93px;
  height: 52px;
}
.flighticon {
  position: absolute;
  height: 27.45%;
  width: 88.51%;
  top: 0;
  right: 5.51%;
  bottom: 72.55%;
  left: 5.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.h55mNonStop {
  position: absolute;
  top: 65.45%;
  left: 0;
  letter-spacing: 0.21px;
}
.flightduration {
  position: relative;
  width: 121px;
  height: 55px;
  text-align: center;
  font-size: 16px;
  color: #8e8e94;
}
.sin1 {
  position: absolute;
  width: 81.21%;
  top: 63.46%;
  left: 17.65%;
  font-size: 16px;
  letter-spacing: 0.26px;
  color: #646468;
  display: inline-block;
}
.arrivalDetails {
  position: relative;
  width: 91px;
  height: 52px;
  text-align: right;
}
.flightDetailsSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  width: 64%;
  font-size: 21px;
  color: #1262af;
}
.priceSectionChild {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 100px;
}
.s730 {
  flex: 1;
  position: relative;
  letter-spacing: 0.34px;
}
.flightCard,
.priceSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.priceSection {
  width: 128px;
  text-align: center;
  font-size: 24px;
  color: #fba403;
}
.flightCard {
  align-self: stretch;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 25px;
  gap: 50px;
}
.sin2,
.singaporeAirlines1 {
  letter-spacing: 0.26px;
  display: inline-block;
}
.singaporeAirlines1 {
  position: relative;
  width: 140px;
  flex-shrink: 0;
}
.sin2 {
  position: absolute;
  width: 79.46%;
  top: 63.46%;
  left: 0;
  font-size: 16px;
  color: #646468;
}
.flighticon1 {
  position: absolute;
  height: 27.45%;
  width: 83.02%;
  top: 0;
  right: 8.27%;
  bottom: 72.55%;
  left: 8.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.flightduration1 {
  position: relative;
  width: 129px;
  height: 55px;
  text-align: center;
  font-size: 16px;
  color: #8e8e94;
}
.sin3 {
  position: absolute;
  width: 81.21%;
  top: 63.46%;
  left: 17.65%;
  font-size: 16px;
  letter-spacing: 0.26px;
  color: #646468;
  display: inline-block;
}
.flightDetailsSection1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  width: 64%;
  text-align: left;
  font-size: 21px;
  color: #1262af;
}
.flightCard1,
.priceSection1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.priceSection1 {
  width: 128px;
  font-size: 24px;
  color: #fba403;
}
.flightCard1 {
  align-self: stretch;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 25px;
  gap: 50px;
  text-align: center;
}
.japanIcon {
  position: relative;
  width: 34.8px;
  height: 46px;
  transform: scale(0.8);
}
.flighticon2 {
  position: absolute;
  height: 27.45%;
  width: 88.51%;
  top: 0;
  right: 6.34%;
  bottom: 72.55%;
  left: 5.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.americanAirlinesIcon {
  position: relative;
  width: 34.8px;
  height: 46px;
}
.flightDetailsSection4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  width: 64%;
  text-align: left;
  font-size: 21px;
  color: #1262af;
}
.flightduration5 {
  position: relative;
  width: 129px;
  height: 55px;
  text-align: center;
  font-size: 16px;
  color: #8e8e94;
}
.primaryButtonChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  background-color: #1262af;
}
.searchFlights {
  position: absolute;
  top: calc(50% - 10.5px);
  left: calc(50% - 81.5px);
  font-size: 18px;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: Roboto;
  color: #fff;
  text-align: center;
}
