/* Combined Homepage styles - imports all functional modules */
@import './Homepage/Header.module.css';
@import './Homepage/Search.module.css';
@import './Homepage/UpcomingFlights.module.css';
@import './Homepage/TravelCards.module.css';
@import './Homepage/PopularStays.module.css';
@import './Homepage/Footer.module.css';
@import './Homepage/Responsive.module.css';