.webScreenIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.symbols {
  position: absolute;
  height: 96.97%;
  width: 99.83%;
  top: 1.59%;
  right: 0.17%;
  bottom: 1.44%;
  left: 0;
}
.fickleflightLogo {
  width: 174px;
  height: 33px;
  overflow: hidden;
}
.explore,
.fickleflightLogo,
.hotels,
.offers {
  position: relative;
  cursor: pointer;
}
.hotels,
.offers {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 14px;
  font-family: Roboto;
  color: #1262af;
  text-align: left;
  display: inline-block;
}
.offers {
  color: #424242;
}
.navigationMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
.hamburgerMenuIcon {
  display: none;
}
.hamburgerMenuIcon,
.notificationBellIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.unsplashd1upkifd04aIcon {
  border-radius: 38px;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.accountSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.navigationRight {
  justify-content: flex-end;
  gap: 36px;
}
.navigationRight,
.topContainer,
.topHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topContainer {
  justify-content: space-between;
  gap: 0;
}
.topHeader {
  align-self: stretch;
  background-color: #fff;
  height: 77px;
  justify-content: center;
  padding: 22px 80px;
  box-sizing: border-box;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  text-align: left;
  font-size: 14px;
  color: #424242;
  font-family: Roboto;
}
.bannerBackground {
  position: absolute;
  height: calc(100% - 0.4px);
  width: 100%;
  top: 0.4px;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.staysInLos {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 48px;
  display: inline-block;
  width: 1280px;
}
.beds {
  position: relative;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-weight: 500;
}
.pilldefault {
  background-color: #fff;
  color: #1262af;
}
.pilldefault,
.pilldefault1 {
  border-radius: 27px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 11px 21px;
}
.options,
.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.options {
  flex-direction: row;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
}
.title {
  position: absolute;
  top: 50px;
  left: 0;
  width: 1440px;
  flex-direction: column;
  padding: 0 80px;
  box-sizing: border-box;
}
.banner,
.header {
  align-self: stretch;
}
.banner {
  position: relative;
  background: linear-gradient(100.3deg, #0b5ba8, #299bd8);
  height: 193px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 42px;
  font-family: "Baloo Bhai";
}
.results {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 500;
}
.filtersIcon {
  position: absolute;
  top: 0;
  left: 62px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.filters1 {
  position: absolute;
  top: 2.5px;
  left: 0;
  letter-spacing: 0.04em;
}
.filters {
  position: relative;
  width: 86px;
  height: 24px;
  font-size: 16px;
}
.resultsSumamry {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.resultsImageIcon {
  position: relative;
  border-radius: 10px 0 0 10px;
  width: 260px;
  height: 220px;
  object-fit: cover;
}
.kingBedStandard {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 146.9px;
}
.div,
.holidayInnExpre,
.reviews {
  letter-spacing: 0.04em;
  display: inline-block;
}
.holidayInnExpre {
  position: relative;
  font-size: 22px;
  text-transform: capitalize;
  color: #303030;
  width: 232.9px;
}
.div,
.reviews {
  position: absolute;
  top: 0;
  left: 55.97px;
  width: 117.9px;
}
.div {
  left: 21.99px;
  font-weight: 500;
  width: 24px;
}
.stars,
.vectorIcon {
  position: absolute;
  top: 0;
  left: 0;
}
.vectorIcon {
  height: 84.21%;
  width: 34.78%;
  right: 65.22%;
  bottom: 15.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.stars {
  width: 46px;
  height: 19px;
  color: #303030;
}
.review {
  position: relative;
  width: 173.9px;
  height: 19px;
  color: #1262af;
}
.resultAndVideo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.videoIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}
.night,
.s286 {
  position: absolute;
  letter-spacing: 0.02em;
}
.s286 {
  top: 0;
  left: 0;
  text-transform: capitalize;
}
.night {
  top: 8px;
  left: 73px;
  font-size: 14px;
}
.pricing,
.viewDetailsButtonChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 112px;
  height: 26px;
}
.viewDetailsButtonChild {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  background-color: #1262af;
}
.searchFlights {
  position: absolute;
  top: calc(50% - 10.5px);
  left: calc(50% - 54.5px);
  font-size: 18px;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: Roboto;
  color: #fff;
  text-align: center;
}
.viewDetailsButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 37.58px;
  left: 0.49px;
  width: 164px;
  height: 46px;
}
.priceAndCta {
  position: relative;
  width: 164.5px;
  height: 83.6px;
  font-size: 22px;
  color: #303030;
}
.resultsCard,
.resultsDetails {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.resultsDetails {
  flex-direction: column;
  padding: 15px 12px 15px 0;
  gap: 31px;
}
.resultsCard {
  align-self: stretch;
  border-radius: 10px;
  background-color: rgba(18, 98, 175, 0.05);
  flex-direction: row;
  gap: 16px;
}
.bedInQuad,
.freehandLosAngeles {
  position: absolute;
  left: 0;
  display: inline-block;
}
.freehandLosAngeles {
  top: 25px;
  font-size: 22px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  width: 273.9px;
}
.bedInQuad {
  top: 0;
  letter-spacing: 0.02em;
  color: #8e8e94;
  width: 172.8px;
}
.reviews1 {
  left: 64.07px;
  letter-spacing: 0.04em;
  display: inline-block;
  width: 138.7px;
}
.div1,
.reviews1,
.vectorIcon1 {
  position: absolute;
  top: 0;
}
.div1 {
  left: 25.86px;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 28.2px;
}
.vectorIcon1 {
  height: 84.21%;
  width: 34.75%;
  right: 65.25%;
  bottom: 15.79%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.review1,
.stars1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 54.1px;
  height: 19px;
  color: #303030;
}
.review1 {
  top: 57px;
  width: 202.8px;
  color: #1262af;
}
.result {
  flex: 1;
  position: relative;
  height: 76px;
}
.priceAndCta1 {
  position: relative;
  width: 164.5px;
  height: 83.6px;
  font-size: 22px;
}
.resultsCard1,
.resultsDetails1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.resultsDetails1 {
  flex-direction: column;
  padding: 15px 12px 15px 0;
  gap: 31px;
}
.resultsCard1 {
  align-self: stretch;
  border-radius: 10px;
  background-color: rgba(18, 98, 175, 0.05);
  flex-direction: row;
  gap: 16px;
  color: #303030;
}
.map {
  border: 0;
  align-self: stretch;
  position: relative;
  height: 600px;
  display: none;
}
.resultCardsCol {
  width: 561.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.map1 {
  border: 0;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.hotelResults,
.resultsSection {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.resultsSection {
  flex-direction: row;
  gap: 23px;
  font-size: 16px;
  color: #8e8e94;
}
.hotelResults {
  flex-direction: column;
  padding: 50px 80px;
  gap: 20px;
  color: #303030;
}
.newsletterSectionBackground {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 530px;
  object-fit: cover;
}
.formTitle,
.formTitleSubtext {
  align-self: stretch;
  position: relative;
}
.formTitleSubtext {
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.formTitle {
  font-size: 30px;
  color: #434343;
}
.formHeader {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.fillInYour {
  position: relative;
  line-height: 34px;
}
.fillInYour,
.formText,
.input {
  align-self: stretch;
}
.formText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input {
  border: 0;
  background-color: transparent;
  font-family: Roboto;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.formFields {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.button1 {
  position: relative;
  font-size: 15px;
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Roboto;
  color: #fff;
  text-align: left;
}
.unstyledbutton {
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 22px;
}
.button,
.form,
.subscribeForm,
.unstyledbutton {
  display: flex;
  flex-direction: column;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #f99a0e;
  border-radius: 4px;
  width: 164px;
  height: 56px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: #dc880b;
}
.form,
.subscribeForm {
  justify-content: flex-start;
}
.form {
  align-self: stretch;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  align-items: flex-start;
  padding: 28px 30px;
  gap: 17px;
  text-align: left;
  color: #576074;
}
.subscribeForm {
  position: relative !important;
  top: 52px;
  left: auto !important;
  width: 549px;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}
.newsletterFormSection {
  align-self: stretch;
  position: relative;
  background-color: #f3f7fb;
  height: 529px;
  overflow: hidden;
}
.logoIcon {
  position: relative;
  width: 174px;
  height: 33px;
  overflow: hidden;
}
.fickleFlightIs {
  align-self: stretch;
  position: relative;
  line-height: 27px;
}
.socialIcons {
  position: relative;
  width: 130px;
  height: 30px;
}
.fickleflightBio {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  margin-bottom: 40px !important;
}
.seperator {
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  width: 1px;
  height: 157.9px;
}
.aboutUs {
  top: 47.76px;
  width: 135.7px;
}
.aboutUs,
.careers,
.company1,
.howWeWork,
.news {
  position: absolute;
  left: 0;
  display: inline-block;
}
.company1 {
  top: 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  width: 174.7px;
}
.careers,
.howWeWork,
.news {
  top: 78.76px;
  width: 84.3px;
}
.careers,
.howWeWork {
  top: 109.76px;
  width: 115.1px;
}
.howWeWork {
  top: 140.76px;
  width: 197.3px;
}
.company {
  position: relative;
  width: 197.3px;
  height: 159.8px;
}
.account,
.support1 {
  position: absolute;
  top: 47.76px;
  left: 0;
  display: inline-block;
  width: 109.6px;
}
.support1 {
  top: 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  width: 131.6px;
}
.accessibility,
.faq,
.supportCenter {
  position: absolute;
  top: 78.76px;
  left: 0;
  display: inline-block;
  width: 197.3px;
}
.accessibility,
.faq {
  top: 109.76px;
  width: 53px;
}
.accessibility {
  top: 140.76px;
  width: 164.4px;
}
.covidAdvisory {
  top: 47.76px;
  width: 172.9px;
}
.airlineFees,
.covidAdvisory,
.more1,
.tips {
  position: absolute;
  left: 0;
  display: inline-block;
}
.more1 {
  top: 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  width: 76.7px;
}
.airlineFees,
.tips {
  top: 78.76px;
  width: 135.4px;
}
.tips {
  top: 109.76px;
  width: 50.6px;
}
.more {
  position: relative;
  width: 197.3px;
  height: 159.8px;
}
.footerLinks {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0;
  font-size: 16px;
}
.footer,
.footerSection,
.hotelsPage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  background: linear-gradient(91.74deg, #0b5ba8 25.38%, #299bd8);
  flex-direction: row;
  padding: 33px 84px;
  gap: 44px;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-family: Roboto;
}
.footerSection,
.hotelsPage {
  flex-direction: column;
}
.footerSection {
  align-self: stretch;
  text-align: center;
  color: #1262ae;
}
.hotelsPage {
  background-color: #fff;
  max-width: 100%;
  width: 1440px;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-family: Roboto;
}
@media screen and (max-width: 1200px) {
  .title,
  .topHeader {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
  .banner {
    padding: 21px 40px 21px 41px;
    box-sizing: border-box;
  }
  .footer,
  .hotelResults {
    padding: 40px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .navigationMenu {
    display: none;
  }
  .hamburgerMenuIcon {
    display: block;
  }
  .title,
  .topHeader {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
  .banner {
    padding: 21px 24px;
    box-sizing: border-box;
  }
  .map {
    display: block;
    max-width: 1000px;
  }
  .resultCardsCol {
    width: 100% !important;
  }
  .map1 {
    display: none;
  }
  .hotelResults,
  .subscribeForm {
    padding: 30px 24px;
    box-sizing: border-box;
  }
  .subscribeForm {
    padding: 24px 0;
  }
  .fickleflightBio {
    flex: unset;
    align-self: stretch;
  }
  .seperator {
    display: none;
  }
  .footerLinks {
    flex: unset;
    align-self: stretch;
  }
  .footer {
    flex-direction: column;
    padding: 40px 24px 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 650px) {
  .navigationRight {
    display: flex;
  }
  .staysInLos {
    font-size: 32px;
  }
  .beds {
    font-size: 14px;
  }
  .resultsImageIcon {
    width: 100% !important;
    border-radius: 10px !important;
  }
  .resultsDetails {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }
  .resultsCard {
    flex-direction: column;
  }
  .resultsDetails1 {
    padding: 15px;
    box-sizing: border-box;
  }
  .resultsCard1 {
    flex-direction: column;
  }
  .resultCardsCol {
    gap: 20px;
  }
  .button {
    width: 100%;
  }
  .button:hover {
    background-color: #f99a0e;
  }
  .subscribeForm {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    left: auto !important;
    width: 100%;
  }
  .company {
    margin-bottom: 40px !important;
  }
  .footerLinks {
    flex-direction: column;
  }
  .footer {
    padding: 30px 24px;
    box-sizing: border-box;
  }
}
