.video {
  align-self: stretch;
  position: relative;
  height: 560px;
}
.matterhornPopup {
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
@media screen and (max-width: 650px) {
  .video {
    height: 50.625vw !important;
  }
  .matterhornPopup {
    padding: 10px;
    box-sizing: border-box;
  }
}
