/* Combined ResultsPage styles - imports all functional modules */
@import './ResultsPage/Header.module.css';
@import './ResultsPage/Search.module.css';
@import './ResultsPage/Results.module.css';
@import './ResultsPage/FlightCards.module.css';
@import './ResultsPage/Footer.module.css';
@import './ResultsPage/Responsive.module.css';